<div class="container pt-3">
  <div class="row justify-content-center px-md-5 px-2 py-4 card margin-container">

  	<div class="container">
  		<div *ngFor="let mensaje of mensajes; let indice=index" >
  			<div role="button" [routerLink]="['/home/messages', mensaje.idUserReceipt]" *ngIf="mensaje.idUserTransmitter == this.username"  class="row">
	  			
		  			<div  class="col-md-1 col-2" style="background-size: cover;background-repeat: no-repeat;background-position: center;" [ngStyle]="{'background-image': 'url(' + mensaje.avatar + ')'}"></div>

				  	<div class="col card p-4" >
				  		<div class="font-weight-bold" *ngIf="mensaje.idUserReceipt !== this.username"> {{ mensaje.idUserReceipt }} </div>
				  		<div class="font-weight-bold"  *ngIf="mensaje.idUserTransmitter !== this.username"> {{ mensaje.idUserTransmitter }} </div>
				  		
				  		<div class="col">
				  			Unirte al chat con este usuario
				  		</div>
				  	</div>

			  </div>


			  <div role="button" [routerLink]="['/home/messages', mensaje.idUserTransmitter]" *ngIf="mensaje.idUserReceipt == this.username"  class="row">
	  			
		  			<div  class="col-md-1 col-2" style="background-size: cover;background-repeat: no-repeat;background-position: center;" [ngStyle]="{'background-image': 'url(' + mensaje.avatar + ')'}"></div>

				  	<div class="col card p-4" >
				  		<div class="font-weight-bold" *ngIf="mensaje.idUserReceipt !== this.username"> {{ mensaje.idUserReceipt }} </div>
				  		<div class="font-weight-bold"  *ngIf="mensaje.idUserTransmitter !== this.username"> {{ mensaje.idUserTransmitter }} </div>
				  		
				  		<div class="col">
				  			Unirte al chat con este usuario
				  		</div>
				  	</div>

			  </div>
	  	</div>
  	</div>

  	<div id="spinner" class="pt-4 text-center" style="display: none">
        <li class="fa fa-spin fa-spinner fa-2x"></li>
    </div>

  </div>
</div>